# Week 2 Day 3: Classes

- what is a class
- scope

#### Methods vs Functions

In [1]:
# make a class with two methods in it
class TestClass():
    def method1():
        print("this is the first method")
        
    def method2():
        print("this is the second method")

In [3]:
#what is the class?
TestClass

__main__.TestClass

In [5]:
# call the first method within 
TestClass.method1()

this is the first method

In [7]:
# call the second method within 
TestClass.method2()

this is the second method

In [9]:
#create an instance of the class
instance = TestClass()
instance

In [11]:
#call the method within the instance
instance.method1()

TypeError: TestClass.method1() takes 0 positional arguments but 1 was given

#### Class initialization __ init __ and methods

In [13]:
# make a class with a function that intializes a name and age as arguments
# make a method that prints out the name and age of the 

class Student():
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def printStudentInfo(self):
        print("Name:",self.name,"Age:",str(self.age))

In [15]:
#create an object/ class instance
student1 = Student("Polly",20)

In [17]:
# what is this object?
student1

In [19]:
#get the name variable within the object
student1.name

'Polly'

In [21]:
#get the age variable within the object
student1.age

20

In [23]:
# call the method within the class
student1.printStudentInfo()

Name: Polly Age: 20

In [57]:
# make a class with name, age, and with a keyword argument of occupation with 'student 
# create a method with to print all of the argumetns
# create a method that takes in a list of grades and prints the sum of those grades
# create a method that prints out  the list of grades

class Person():
    def __init__(self, name, age, occupation = "student"):
        self.name = name
        self.age = age
        self.occupation = occupation

    def postInfo(self):
        print(self.name, self.age, self.occupation)
        
    def sumOfGrades(self, listOfGrades):
        self.listOfGrades = listOfGrades
        print(self.name, "Total Grade is:",sum(listOfGrades))

    def getGradeList(self):
        print(self.listOfGrades)

In [73]:
# create an instance
person1 = Person("Patricia",19)

In [69]:
person1.sumOfGrades([90,45,86,78])

Steven Total Grade is: 299

In [71]:
person1.getGradeList()

[90, 45, 86, 78]

In [75]:
# what is the type of this instance?
type(person1)

__main__.Person

In [77]:
# create another instance of the Person class with other arguments
person2 = Person("Mikey",22)

In [79]:
# what is the type of this instance?
type(person2)

__main__.Person

In [81]:
#get the name of the first person
person1.name

'Patricia'

In [83]:
#get the age of the second person
person2.age

22

In [85]:
#get the occupation of the second person
person2.occupation

'student'

In [87]:
# call the method that prints out the information for person 1
person1.postInfo()

Patricia 19 student

#### Passing Arguments

In [93]:
#make a third instance 
person3 = Person("Tally",34,"Mechanic")

In [95]:
# call the method to print information
person3.postInfo()

Tally 34 Mechanic

In [107]:
# call the method that sums the grades list
person3.sumOfGrades([90,56,87,57])

Tally Total Grade is: 290

In [109]:
# call the method to get the grades list
person3.getGradeList()

[90, 56, 87, 57]

In [111]:
# call the method taht gets the grades list again
person3.getGradeList()

[90, 56, 87, 57]

In [113]:
# create a class that assigns two arguments and 
# has a method that prints the arguments
# has a method that has a list of tasks

class DogWash():
    def __init__(self, dog, breed):
        self.dog = dog
        self.breed = breed

    def printDogInfo(self):
        print("Dog Name:", self.dog)
        print("Dog Breed:", self.breed)

    def getTasks(self, taskLyst):
        return(taskLyst)

In [121]:
# assign an instance with a name and an age
dog1 = DogWash("Jasper", "Mutt(mostly lab")

In [123]:
dog1.printDogInfo()

Dog Name: Jasper
Dog Breed: Mutt(mostly lab

In [127]:
# define the list 
dog1.getTasks(["cut","clip","wash","dry"])

['cut', 'clip', 'wash', 'dry']

In [131]:
jasperTasks = dog1.getTasks(["cut","clip","wash","dry"])
jasperTasks

['cut', 'clip', 'wash', 'dry']

#### Updating Variables

In [133]:
# updating the name  
dog1.name = "Charlie"
print(dog1.name)

Charlie

In [137]:
# update the lyst
dog1.getTasks(["Wash","Dry"])

['Wash', 'Dry']