# Week 1, Day 4

**In this class we will learn about:**
- Tuples
- Lists
- Dictionaries

## Tuples

A Tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets. The values can be repeated, but their number is always finite.

In [3]:
# Is this a tuple?
t1 = ("a")

type(t1)

str

In [5]:
# Is this a tuple
t2 = ("b",)

type(t2)

tuple

In [9]:
# make a longer tuple
t3 = ("a","b","c","d")

# print the first item in that tuple 
print(t3[0])

a

In [11]:
#print a the first second and third items in the tuple
t3[0:3]

('a', 'b', 'c')

In [13]:
#re-assign the second item to a letter
t3[1] = "g"

TypeError: 'tuple' object does not support item assignment

In [15]:
# make a tuple with strings
strTuple = ("apple", "banana", "cherry")

In [17]:
type(strTuple)

tuple

### Excercise 1: 
1.   create a tuple with your favorite hobbies, tv shows, etc. ordered by your highest favorit to the lowest
2.   access the last item in the tuple and print it out
3. print out the last item in the tuple in the following formating --> " My least favorite hobby is -----"

In [1]:
hobbies_fav = ("craft","golf","running","gardening")

In [5]:
print("My least favorite hobby is " , hobbies_fav[-1])

My least favorite hobby is  gardening

## Lists

Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data. They are created using square brackets

In [21]:
#make some lists
strTuple = ("apple", "banana", "cherry")
strLyst = ["apple", "banana", "cherry"]

alyst = [10,20,30,40,50,60]
blyst = ["lol", "lmao", "rofl","thx"]
clyst = ["outside", 2030, (40.22,8484.233), ["CMCI", "CS", "ENGINEERING"]]
dlyst = []

In [23]:
# Check if item in a list
10 in alyst

True

### List operatoins

In [25]:
# make some numerical lists
a =[1,2,3]
b = [4,5,6]

In [27]:
#Multiply a list by a number?
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
#Add two lists together?
a + b

[1, 2, 3, 4, 5, 6]

In [31]:
# Mulitply the first item in a by 5
a[0] * 5

5

In [33]:
#Reassign the first item in a to be that same number * 5
a[0] = a[0] * 5

In [35]:
#check
a

[5, 2, 3]

### Lists slices

In [9]:
# create a list of strings
myList = ["cat","dog","cow","fish"]

In [11]:
#what is the last item of the list
myList[-1]

'fish'

In [13]:
#get the items at positions 2 and 4
myList[2:5:2]

['cow']

In [15]:
# get the items after position 3
myList[4:]

[]

### List methods (append, extend, sort, pop, and remove)

In [17]:
#have a list to work with
myList

['cat', 'dog', 'cow', 'fish']

In [19]:
#appending
myList.append("pig")
print(myList)

['cat', 'dog', 'cow', 'fish', 'pig']

In [25]:
#make another list 
strLyst

['apple', 'banana', 'cherry']

In [27]:
#extending
myList.extend(strLyst)
print(myList)

['cat', 'dog', 'cow', 'fish', 'pig', 'apple', 'banana', 'cherry']

In [55]:
#sorting
unsortedLyst = ["Jake","John", "Mike", "Grace", "Riley", "Abby", "Zion"]

In [61]:
unsortedLyst.sort()
sortedLyst = unsortedLyst
print(sortedLyst)

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley', 'Zion']

In [63]:
#delteing
sortedLyst

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley', 'Zion']

In [43]:
#pop()
sortedLyst.pop()
print(sortedLyst)

['Abby', 'Grace', 'Jake', 'John', 'Mike']

In [45]:
#pop at a specific position (position 2)[not the same as 2nd item]
sortedLyst.pop(2)

'Jake'

In [47]:
#pop position 1
positionName = sortedLyst.pop(1)
print(sortedLyst)
print(positionName)

['Abby', 'John', 'Mike']

In [49]:
#pop the first thing in the list
sortedLyst.pop(0)
print(sortedLyst)

['John', 'Mike']

In [65]:
#resetting the list
sortedLyst = unsortedLyst
unsortedLyst

['Abby', 'Grace', 'Jake', 'John', 'Mike', 'Riley', 'Zion']

In [67]:
#assign the popped item
poppedItem = sortedLyst.pop()
poppedItem

'Zion'

In [69]:
# Remove
sortedLyst.remove("Mike")

In [71]:
sortedLyst

['Abby', 'Grace', 'Jake', 'John', 'Riley']

checking the length of the list

### Excercise 2:
1. create a list of the courses you took last year
2. create a list of the courses you will take next year
3. Add the lists together
4. print the 3rd item of the new list
5. print the middle 3 values using slicing
6. delete one of the items in the list and assign it to a new variable
7. can you add the deleted item back using append?
8. sort the courses
9. let's say you found a mistake in the list, can you update it?
10. **BIG TASK:** 
  - add an input statement to check if the course is in your lists, 
  - **if** the course is in last years list, print out ("I took this course last year") 
  - **elif** it was in the next year list, print out ("I will take it next year") 
  - **else** print out, ("this course is not in my lists")

# Dictionaries

Dictionaries are used to store data values in key:value pairs. Dictionaries cannot have two items with the same key.

Dictionary items are ordered, changeable, and do not allow duplicates. Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [75]:
#make an empty dictionary
#myCar = {}
myCar = dict()
print(myCar)

{}

In [77]:
#check the type
type(myCar)

dict

In [79]:
#make a dicitonary about a car
myCar = {
    "brand":"Jeep",
    "color":"brown",
    "model":[2018,"wrangler"]
}

In [81]:
myCar

{'brand': 'Jeep', 'color': 'brown', 'model': [2018, 'wrangler']}

In [83]:
#get the brand of the car
myCar["brand"]

'Jeep'

In [85]:
#check if the value 'color' is in the dictionary
"color" in myCar
# only checks key so "brown" in myCar would be false

True

In [87]:
# make a new dictionary key:value pair assigning a name to the car 
myCar["nickname"] = "Brownie"
myCar

{'brand': 'Jeep',
 'color': 'brown',
 'model': [2018, 'wrangler'],
 'nickname': 'Brownie'}

In [89]:
#return out all of the dictionary values
myCar.values()

dict_values(['Jeep', 'brown', [2018, 'wrangler'], 'Brownie'])

In [91]:
#return all of the dictionary keys
myCar.keys()

dict_keys(['brand', 'color', 'model', 'nickname'])

In [97]:
#change the color of the car
myCar["color"] = "Dark-Brown"
myCar

{'brand': 'Jeep',
 'color': 'Dark-Brown',
 'model': [2018, 'wrangler'],
 'nickname': 'Brownie'}

In [99]:
#return all the items in the dictionary
myCar.items()

dict_items([('brand', 'Jeep'), ('color', 'Dark-Brown'), ('model', [2018, 'wrangler']), ('nickname', 'Brownie')])

In [101]:
#get rid of the name of the car
myCar.pop("nickname")
myCar

{'brand': 'Jeep', 'color': 'Dark-Brown', 'model': [2018, 'wrangler']}

In [103]:
#clear the dictionary
myCar.clear()
myCar

{}

### Excercise 3:
1. create a dictionary of an item you own
2. Print out the dictionary keys
3. print out the dicionary values
4. add a key, value pair to the dictionary (another information about your object)
5. update one of the items in the dictionary
6. **BIG TASK:** 
  - add an input statement to read a key, and another one to read a value. The
  - **if** the key is in the dictionary, update the current value. **else** create a new key value pair using the input informtion
  - print out everything!