## Exercise 1 - Little but Confusing Cleaning

 Write a function to read through the Rolling Stone Top 500 album list file (one line at
 a time) and create a dictionary where the key is the primary genre and the value is the 
 number of albums of that genre. For albums that have multiple primary genres, just use 
 the first genre listed. Your function should take a filename as a parameter. 
 When your function finishes reading the file, it should print the genre names and the 
 number of albums from each genre that are in the Top 500.  Here is the expected output:


The genres should be printed out in the order of most to 
least for number of albums. Use the function sortDictionaryByValues in the file 
sortdictionary.py to sort your dictionary. 

**Hint: Use the csv module.  It will make your life quite a bit easier.**

to use the sortdictionary code, save the sortdictionary.py file in the same folder as 

import the sort dictionary module:
 
~~~ 
import sortdictionary
~~~

this code in this file will sort your dictionary by values. the syntax for creating a sorted dictionary 
works as follows:

~~~
sortedDictionary = sortdictionary.sortDictionaryByValues(dictionaryToSort,ascending=False)
~~~

if ascending is set to False, your dictionary will be sorted with values going from greatest-to-least.  
setting ascending=True will sort the dictionary with values going from least-to-greatest.

# Exercise 2 - do the same thing with pandas

Write a function to read through the Rolling Stone Top 500 album list using Pandas and output two columns 
where the first column is primary genre name and the second column is number of albums in that genre.  
For albums that have multiple primary genres, just use the first genre listed. 
Your function should take the csv filename as a parameter. The data should be sorted by number of albums, 
from greatest to least.

The output should have identical totals to the output in Problem 1.

Hint: You'll need to solve this using the .apply method along with either a user-defined function or a lambda 
funciton.  You ARE NOT permitted to use pandas's str.split method.

In [15]:
# Write a function to read through the Rolling Stone Top 500 album list file (one line at a time)

In [ ]:
# Your function should take a filename as a parameter.
def genreOrganizer(filename):
    genreDict = {}

    # read in the csv
    data = pd.read_csv(filename)

    # for albums that have multiple primary genres. just use the first genre listed.

    genrecol = data["Genre"]

    for album in genrecol:
        genreLyst = album.split("/")
        genreLyst2 = genreLyst[0].split(",")
        firstGenre = genreLyst2[0]
        # print(firstGenre)

    # create a dictionary where the key

# Exercise 3 - do it your self

Using the Batting.cs file, determine which year had the most homeruns.  How many homeruns were there?

the answer: There were 6776 homeruns in 2019

In [1]:
import pandas as pd
df = pd.read_csv("data/Batting.csv")

In [3]:
df.head()

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
0,aardsda01,2004,1,SFN,NL,11,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,aardsda01,2006,1,CHN,NL,45,NaN,2,0,0,...,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
2,aardsda01,2007,1,CHA,AL,25,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,aardsda01,2008,1,BOS,AL,47,NaN,1,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,aardsda01,2009,1,SEA,AL,73,NaN,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'G_batting', 'AB',
       'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP',
       'SH', 'SF', 'GIDP', 'G_old'],
      dtype='object')

In [11]:
years = df.groupby('yearID')['HR'].sum()
top_years = years.sort_values(ascending = False)
top_years

yearID
2019    6776
2017    6105
2021    5944
2023    5868
2000    5693
        ...
1875      40
1874      40
1872      37
1877      24
1878      23
Name: HR, Length: 153, dtype: int64

In [13]:
top_years.max()

6776